* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline-style: none;
}
div {
    float: left;
}
.box1 {
    width: 480px;
    height: 270px;
    margin: 10px;
    background: url(bg-img/bg.jpg) no-repeat;
    background-size: 100%;
    border: 1px solid #ccc;
    position: relative;
}
.box1 .move{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    cursor: move;
}
.none {
    display: none;
}
.block {
    display: block;
}
.box2 {
    width: 400px;
    height: 400px;
    margin: 10px;
    background: url(bg-img/bg.jpg) no-repeat;
    border: 1px solid #ccc;
}